{% layout 'layout.liquid' %}
{% block content %}
    <div class="topSpace">sssssss</div>
    <div class="container-sm" id="edit">
        {%- comment -%} change the action {%- endcomment -%}
        {%- comment -%} add values to input fields {%- endcomment -%}
        {%- comment -%} add a back button {%- endcomment -%}
        <form action="/tikiDrink/{{tikiDrink.id}}?_method=PUT" method="POST">

        

            <fieldset>
                <legend style="font-size: 2rem;">Edit {{tikiDrink.name}}</legend>
            <div>
                <div class="inputLine">
                    <label class="form-label">Name:</label>
                     <input
                        class="form-control"
                        type="text"
                        name="name"
                        style="margin: 1vh 0 1vh 0;"
                        placeholder="Enter the name of the drink"
                        value="{{ tikiDrink.name }}"
                      >
                </div>
                <input
                    style="display: none;"
                    class="form-control"
                    type="text"
                    name="lastUpdated"
                    value={{ "now" | date: "%m/%d/%Y" }}
                > 
                <div class="inputLine">
                <label class="form-label">Ingredients: </label>
                     {%- comment -%} <input
                            class="form-control"
                            type="text"
                           name="ingredients"
                           value="{{ ingredientString }}"
                    > {%- endcomment -%}
                <textarea 
                    type="text" 
                    class="form-control" 
                    name="ingredients" 
                    value="{{ ingredientString}}" 
                    aria-label="Ingredients Here"  
                    style="margin: 1vh 0 1vh 0; min-height: 10vh;"
                >{{ingredientString}}
                </textarea>
                </div>

                {%- comment -%} {%if tikiDrink.ingredient[1]%}
                <label class="form-label">Ingredient: </label>
                <input
                    class="form-control"
                    type="text"
                    name="ingredient"
                    placeholder="ingredient"
                    value="{{ tikiDrink.ingredient[1] }}"
                >
                {%endif%} {%- endcomment -%}
                <div class="inputLine">
                      <label class="form-label">Garnish: </label>
                      {%- comment -%} <input
                        class="form-control"
                        type="text"
                        name="garnishes"
                        value="{{ garnishString }}"
                      > {%- endcomment -%}

                    <textarea 
                        type="text" 
                        class="form-control" 
                        name="garnishes" 
                        style="margin: 1vh 0 1vh 0; min-height: 10vh;" 
                    >{{ garnishString }}</textarea>
                </div>


                <div class="inputLine">
                      <label class="form-label">Prep Instructions: </label>
                      {%- comment -%} <input
                          class="form-control"
                          type="text"
                          name="prepInstructs"
                          style="margin: 1vh 0 1vh 0; min-height: 10vh;"
                          placeholder="(prep instruction), (prep instruction), (prep instruction) example: Do the thing, Do the other thing, Do the other other thing"
                          value="{{ prepInstructString }}"
                      > {%- endcomment -%}
                    <textarea 
                        type="text" 
                        class="form-control" 
                        name="prepInstructs"  
                        style="margin: 1vh 0 1vh 0; min-height: 10vh;" 
                        >{{ prepInstructString }}</textarea>
                </div>

                <div class="inputLine">
                      <label class="form-label">Glassware: </label>
                      <input
                          class="form-control"
                          type="text"
                          name="glassware"
                          value="{{ tikiDrink.glassware }}"
                          style="margin: 1vh 0 3vh 0;"
                      >
                </div>
 
            </div>
            </fieldset>
        <input
                class="btn btn-success"
                type="submit"
                {%- comment -%} style="margin: 1rem;" {%- endcomment -%}
                value="Update {{tikiDrink.name}}"
            >
        </div>
            
        </form>


<script>

    //const ingredient = "{{tikiDrink.ingredient}}"

    //document.addEventListener('DOMContentLoaded', () => {
    //ingredient.forEach(createBox())
    //}

    //const createBox = () => {
    //const inputBox = document.createElement('input')
    //const inputLabel = document.createElement('label')
    //inputLabel.innerText = "Ingredient"
    //inputLabel.classList.add("form-label")
    //inputBox.value = "{{tikiDrink.ingredient}}"
    //inputBox.classList.add("form-control")
    //inputBox.name = "ingredient"
    //field.appendChild(inputLabel)
    //field.appendChild(inputBox)
    //}
    
    //const field = document.getElementById("field") 
    //const addBox = () => {
    //const inputBox = document.createElement('input')
    //const inputLabel = document.createElement('label')
    //inputLabel.innerText = "Ingredient"
    //inputLabel.classList.add("form-label")
    //inputBox.placeholder = "put stuff here"
    //inputBox.classList.add("form-control")
    //inputBox.name = "ingredient"
    //field.appendChild(inputLabel)
    //field.appendChild(inputBox)
    //} 
    </script>


{% endblock %}

