{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-sm">
        {%- comment -%} change the action {%- endcomment -%}
        {%- comment -%} add values to input fields {%- endcomment -%}
        {%- comment -%} add a back button {%- endcomment -%}
        <form action="/tikiDrink/{{tikiDrink.id}}?_method=PUT" method="POST">

        

            <fieldset id="field">
                <legend>Edit {{tikiDrink.name}}</legend>
            <div>
                <div class="inputLine">
                    <label class="form-label">Name:</label>
                     <input
                        class="form-control"
                        type="text"
                        name="name"
                        placeholder="Enter the name of the drink"
                        value="{{ tikiDrink.name }}"
                      >
                </div>
                <input
                    style="display: none;"
                    class="form-control"
                    type="text"
                    name="lastUpdated"
                    value={{ "now" | date: "%m-%d-%Y" }}
                > 

                <div class="inputLine">
                     <label class="form-label">Ingredient: </label>
                     <input
                            class="form-control"
                            type="text"
                           name="ingredients"
                           placeholder="ingredient"
                           value="{{ ingredientString }}"
                    >
                </div>

                {%- comment -%} {%if tikiDrink.ingredient[1]%}
                <label class="form-label">Ingredient: </label>
                <input
                    class="form-control"
                    type="text"
                    name="ingredient"
                    placeholder="ingredient"
                    value="{{ tikiDrink.ingredient[1] }}"
                >
                {%endif%} {%- endcomment -%}
                <div class="inputLine">
                      <label class="form-label">Garnish: </label>
                      <input
                        class="form-control"
                        type="text"
                        name="garnish"
                        value="{{ tikiDrink.garnish }}"
                      >
                </div>

                <div class="inputLine">
                      <label class="form-label">Glassware: </label>
                      <input
                          class="form-control"
                          type="text"
                          name="glassware"
                          value="{{ tikiDrink.glassware }}"
                      >
                </div>

                <div class="inputLine">
                      <label class="form-label">Prep Instructions: </label>
                      <input
                          class="form-control"
                          type="text"
                          name="prepInstruct"
                          value="{{ tikiDrink.prepInstruct[0] }}"
                      >
                </div>
 
            </div>
            </fieldset>
            <input
                class="btn btn-success"
                type="submit"
                value="Update {{tikiDrink.name}}"
            >
        </form>
    </div>

<script>

    //const ingredient = "{{tikiDrink.ingredient}}"

    //document.addEventListener('DOMContentLoaded', () => {
    //ingredient.forEach(createBox())
    //}

    //const createBox = () => {
    //const inputBox = document.createElement('input')
    //const inputLabel = document.createElement('label')
    //inputLabel.innerText = "Ingredient"
    //inputLabel.classList.add("form-label")
    //inputBox.value = "{{tikiDrink.ingredient}}"
    //inputBox.classList.add("form-control")
    //inputBox.name = "ingredient"
    //field.appendChild(inputLabel)
    //field.appendChild(inputBox)
    //}
    
    //const field = document.getElementById("field") 
    //const addBox = () => {
    //const inputBox = document.createElement('input')
    //const inputLabel = document.createElement('label')
    //inputLabel.innerText = "Ingredient"
    //inputLabel.classList.add("form-label")
    //inputBox.placeholder = "put stuff here"
    //inputBox.classList.add("form-control")
    //inputBox.name = "ingredient"
    //field.appendChild(inputLabel)
    //field.appendChild(inputBox)
    //} 
    </script>


{% endblock %}

