{% layout 'layout.liquid' %}
{% block content %}
    <div class="topSpace">sssssss</div>
    <div id="fieldBox">
        <div class="container-sm" id="edit">
            <form action="/tikiDrink/{{tikiDrink.id}}?_method=PUT" method="POST">
                <fieldset>
                    <legend style="font-size: 2rem;">Update {{tikiDrink.name}}</legend>
                    <div class="inputLine">
                        <label class="form-label">Name:</label>
                        <input
                            class="form-control"
                            type="text"
                            name="name"
                            style="margin: 1vh 0 1vh 0;"
                            placeholder="Enter the name of the drink"
                            value="{{ tikiDrink.name }}"
                        >
                        <input
                            style="display: none;"
                            class="form-control"
                            type="text"
                            name="lastUpdated"
                            value={{ "now" | date: "%m/%d/%Y" }}
                        > 
                        <label class="form-label">Ingredients: </label>
                        <textarea 
                            type="text" 
                            class="form-control" 
                            name="ingredients" 
                            value="{{ ingredientString}}" 
                            aria-label="Ingredients Here"  
                            style="margin: 1vh 0 1vh 0; min-height: 10vh;"
                        >{{ingredientString}}
                        </textarea>
                        <label class="form-label">Garnish: </label>
                        <textarea 
                            type="text" 
                            class="form-control" 
                            name="garnishes" 
                            style="margin: 1vh 0 1vh 0; min-height: 10vh;" 
                        >{{ garnishString }}</textarea>
                        <label class="form-label">Prep Instructions: </label>
                        <textarea 
                            type="text" 
                            class="form-control" 
                            name="prepInstructs"  
                            style="margin: 1vh 0 1vh 0; min-height: 10vh;" 
                        >{{ prepInstructString }}</textarea>
                        <label class="form-label">Glassware: </label>
                        <input
                            class="form-control"
                            type="text"
                            name="glassware"
                            value="{{ tikiDrink.glassware }}"
                            style="margin: 1vh 0 3vh 0;"
                        >
                    </div>
                </fieldset>
                <input
                    class="btn btn-success"
                    type="submit"
                    value="Update {{tikiDrink.name}}"
                >
            </form>
        </div>
    </div>
{% endblock %}

