{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2 class="names" >{{tikiDrink.name}}</h2>
            {%- comment -%} {%if tikiDrink.owner%}
            {%else%} {%- endcomment -%}
            <div id="bttnGroup">
            <div class="btn-group">
                {% if tikiDrink.owner == userId %}

                        <a class="btn btn-primary" style="margin-right: 1rem;" href="/tikiDrink/edit/{{tikiDrink.id}}">Update</a>

                {%else%}
                        <a class="btn btn-primary" href="/tikiDrink/customize/{{tikiDrink.id}}">Customize</a>
                {% endif %}
            </div>
                {%if tikiDrink.owner %} 
                        <form action="/tikiDrink/fav/{{tikiDrink.id}}?_method=PUT" method="POST">
                        {%if tikiDrink.fav%}                    
                            <fieldset>
                                <input
                                    style="display: none;"
                                    class="form-check-input"
                                    type="checkbox"
                                    name="fav"
                                >
                            </fieldset>
                            <input
                                class="btn btn-success"
                                type="submit"
                                value="Unfavorite"
                            >                
                        </form>
                        {%else%}                 
                            <form action="/tikiDrink/fav/{{tikiDrink.id}}_method=PUT" method="POST">
                                <fieldset>
                                    <input
                                        style="display: none;"
                                        class="form-check-input"
                                        type="checkbox"
                                        name="fav"
                                        checked
                                    >
                                </fieldset>
                                <input
                                    class="btn btn-success"
                                    type="submit"
                                    value="Favorite"
                                > 
                            </form>
                    {%endif%}   
                {%endif%}
                </div>
            {%- comment -%} {%endif%} {%- endcomment -%}

{%- comment -%} {% if tikiDrink.fav = true %} {% assign tikiDrink.fav = false %} {% endif %}
{% if tikiDrink.fav = false %} {% assign tikiDrink.fav = true %} {% endif %} {%- endcomment -%}

            {%if tikiDrink.owner%}
            <h4>Last Updated: {{tikiDrink.lastUpdated}}</h4>
            {%else%}
            <h4>Original creator: {{tikiDrink.ogCreator}}</h4>
            {%endif%}
            <h1 class="titles">Ingredients</h1>
            <div id="fieldBox">
                {% for ingredient in tikiDrink.ingredients %}
                  <h4 id="line">{{ingredient}}</h4>
                {% endfor %}  
            </div>
            <h1 class="titles">Garnishes</h1>
                <div id="fieldBox">
                    {% for garnish in tikiDrink.garnishes %}
                          <h4 id="line">{{garnish}}</h4>
                    {% endfor %}
                </div>
            <h1 class="titles">Glassware</h1>
            <div id="fieldBox">
                <h4 id="line">{{tikiDrink.glassware}}</h4>
            </div>
            <h1 class="titles">Prep Instructions</h1>
            <div id="fieldBox">       
                {% for prepInstruct in tikiDrink.prepInstructs %}
                    <h4 id="line">{{prepInstruct}}</h4>
                {% endfor %} 
            </div>

        </article>
        {% if tikiDrink.owner%}
            <form action="/tikiDrink/{{tikiDrink.id}}?_method=DELETE" method="POST" id="favBut">
                <input class="btn btn-danger" style="margin:2rem;" type="submit" value="Delete Drink">
            </form>
        <hr>
        <h4>Comments</h4>
        <hr>
        
            <div class="col-md-6">
                <form action="/comments/{{tikiDrink.id}}" method="POST">
                    <fieldset>
                        <legend>Add Comment</legend>
                        <label class="form-label">comment:</label>
                        <input class="form-control mb-2" type="text" placeholder="enter your comment..." name="note" required>
                    </fieldset>
                    <input class="btn btn-success" type="submit" value="add comment">
                </form>
            </div>

            {%- comment -%} <div class="col-md-6">
                <small>If you'd like to leave a comment, please log in...</small>
            </div> {%- endcomment -%}
        
        <hr>
        {% if tikiDrink.comments.length > 0%}
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                    {% for comment in tikiDrink.comments %}
                        {% render '../comment.liquid', comment: comment, userId: userId, tikiDrink: tikiDrink %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <small>no comments as of yet...</small>
        {% endif %}
        <hr>
    {% endif %}
    </div>
{% endblock %}
