{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>{{tikiDrink.name}}</h2>
            {%- comment -%} {%if tikiDrink.owner%}
            {%else%} {%- endcomment -%}
                <form action="/tikiDrink/fav/{{tikiDrink.id}}?_method=PUT" method="POST">
                <fieldset>
                    {%if tikiDrink.fav%}
                    <input
                    style="display: none;"
                    class="form-check-input"
                    type="checkbox"
                    name="fav"
                    >
                </fieldset>
                    <input
                        class="btn btn-success"
                        type="submit"
                        value="Unfavorite"
                    >                
                </form>
                    {%else%}                 
                <form action="/tikiDrink/fav/{{tikiDrink.id}}_method=PUT" method="POST">
                 <fieldset>
                    <input
                    style="display: none;"
                    class="form-check-input"
                    type="checkbox"
                    name="fav"
                    checked
                    >
                </fieldset>
                <input
                        class="btn btn-success"
                        type="submit"
                        value="Favorite"
                    > 
                    {%endif%}
                </form>
            {%- comment -%} {%endif%} {%- endcomment -%}

{%- comment -%} {% if tikiDrink.fav = true %} {% assign tikiDrink.fav = false %} {% endif %}
{% if tikiDrink.fav = false %} {% assign tikiDrink.fav = true %} {% endif %} {%- endcomment -%}

            {%if tikiDrink.owner%}
            <h4>Last Updated: {{tikiDrink.lastUpdated}}</h4>
            {%else%}
            <h4>Original creator: {{tikiDrink.ogCreator}}</h4>
            {%endif%}

            {% for ingredient in tikiDrink.ingredients %}
                <h4>{{ingredient}}</h4>
            {% endfor %}  

            {% for garnish in tikiDrink.garnishes %}
                <h4>{{garnish}}</h4>
            {% endfor %}

            <h4>{{tikiDrink.glassware}}</h4>

            {% for prepInstruct in tikiDrink.prepInstructs %}
                <h4>{{prepInstruct}}</h4>
            {% endfor %} 
            {% if tikiDrink.owner == userId %}
                <div class="btn-group">
                    <a class="btn btn-primary" href="/tikiDrink/edit/{{tikiDrink.id}}">Update</a>
                    <form action="/tikiDrink/{{tikiDrink.id}}?_method=DELETE" method="POST" id="favBut">
                        <input class="btn btn-danger" type="submit" value="Remove">
                    </form>
                </div>
            {%else%}
                <a class="btn btn-primary" href="/tikiDrink/customize/{{tikiDrink.id}}">Customize</a>
            {% endif %}
        </article>
        <hr>
    </div>
    <script>

    const createBox = () => {
    const inputBox = document.createElement('input')
    const inputLabel = document.createElement('label')
    inputLabel.innerText = "Ingredient"
    inputLabel.classList.add("form-label")
    inputBox.value = "{{tikiDrink.ingredient}}"
    inputBox.classList.add("form-control")
    inputBox.name = "ingredient"
    field.appendChild(inputLabel)
    field.appendChild(inputBox)
    }
    </script>
{% endblock %}
