{% layout 'layout.liquid' %}
{% block content %}
    <div style="height: 6rem;"></div>
    <div class="container-md">
        <article class="article" >
            <div class="ownerUpdate" style="display:flex; flex-direction:row ">
                <h2 style="font-size: 3rem;" >{{tikiDrink.name}}</h2>
                {%- comment -%} {%if tikiDrink.owner%}
                {%else%} {%- endcomment -%}
                <div style="float:right">
                    {%if tikiDrink.owner%}
                        <h4>Last Updated:</h4>
                        <h3> {{tikiDrink.lastUpdated}}</h3>
                    {%else%}
                        <h4>Original creator:</h4>
                        <h3> {{tikiDrink.ogCreator}}</h3>
                    {%endif%}
                </div>
            </div>
            <div id="bttnGroup" style="justify-content:right">
            <div class="btn-group">
                {% if tikiDrink.owner == userId %}

                        <a class="btn btn-success" style="margin-right: 1rem;" href="/tikiDrink/edit/{{tikiDrink.id}}">Update</a>

                {%else%}
                        <a class="btn btn-success" style="margin-right: 1rem;" href="/tikiDrink/customize/{{tikiDrink.id}}">Customize</a>
                {% endif %}
            </div>
                {%if tikiDrink.owner %} 
                        <form action="/tikiDrink/fav/{{tikiDrink.id}}?_method=PUT" method="POST">
                        {%if tikiDrink.fav%}                    
                            <fieldset>
                                <input
                                    style="display: none;"
                                    class="form-check-input"
                                    type="checkbox"
                                    name="fav"
                                >
                            </fieldset>
                            <input
                                class="btn btn-info"
                                type="submit"
                                value="Unfavorite"
                            >                
                        </form>
                        {%else%}                 
                            <form action="/tikiDrink/fav/{{tikiDrink.id}}_method=PUT" method="POST">
                                <fieldset>
                                    <input
                                        style="display: none;"
                                        class="form-check-input"
                                        type="checkbox"
                                        name="fav"
                                        checked
                                    >
                                </fieldset>
                                <input
                                    class="btn btn-success"
                                    type="submit"
                                    value="Favorite"
                                > 
                            </form>
                    {%endif%}   
                {%endif%}
                </div>
            {%- comment -%} {%endif%} {%- endcomment -%}

{%- comment -%} {% if tikiDrink.fav = true %} {% assign tikiDrink.fav = false %} {% endif %}
{% if tikiDrink.fav = false %} {% assign tikiDrink.fav = true %} {% endif %} {%- endcomment -%}
            <div id="fieldBox">
                <h1 class="titles">Ingredients</h1>
                {% for ingredient in tikiDrink.ingredients %}
                  <h4 class="line">{{ingredient}}</h4>
                {% endfor %}  
            </div>
                <div id="fieldBox">
                <h1 class="titles">Garnishes</h1>
                    {% for garnish in tikiDrink.garnishes %}
                          <h4 class="line">{{garnish}}</h4>
                    {% endfor %}
                </div>
            <div id="fieldBox">
                <h1 class="titles">Glassware</h1>
                <h4 class="line">{{tikiDrink.glassware}}</h4>
            </div>
            <div id="fieldBox" style="margin-bottom: 2rem;"> 
            <h1 class="titles">Prep Instructions</h1>                      
                {% for prepInstruct in tikiDrink.prepInstructs %}
                    <h4 class="line">{{prepInstruct}}</h4>
                {% endfor %} 
            </div>

        </article>
        {% if tikiDrink.owner%}
            
                <a  class="btn btn-danger" href="/tikiDrink/deleteConf/{{tikiDrink.id}}" style="margin:1rem 0 1rem 0;">Delete Drink</a>
        {%- comment -%} <hr> {%- endcomment -%}
        <h1 class="titles">Comments</h1>
        {%- comment -%} <hr>               {%- endcomment -%}
                <form action="/comments/{{tikiDrink.id}}" style="justify-content: center; align-content:center;" method="POST">
                    <fieldset   id="fieldBoxCom" >
                        <div class="titles2">Add Comment 
                        <input class="form-control mb-2" type="text" placeholder="enter your comment..." name="note" required>
                        </div> 
                    </fieldset>
                    <input class="btn btn-success" style="margin: 2rem;" type="submit" value="Add Comment">
                </form>

            {%- comment -%} <div class="col-md-6">
                <small>If you'd like to leave a comment, please log in...</small>
            </div> {%- endcomment -%}
        
        {% if tikiDrink.comments.length > 0%}
                <div class="col-md-8 col-lg-6" style="justify-content: center; align-content:center">
                    {% for comment in tikiDrink.comments %}
                        {% render '../comment.liquid', comment: comment, userId: userId, tikiDrink: tikiDrink %}
                    {% endfor %}
                </div>
        {% else %}
            <small class="titles3" style="padding: 1rem; margin-top: 1rem;">no comments as of yet...</small>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
