{% layout 'layout.liquid' %}
{% block content %}
            <div class="nav-link" style="padding-top: 5rem">
                        <form  action="/search/search?_method=GET" method="POST" >
                            <div  class="form-row">
                            <div class="form-group mx-sm-3 mb-2 col">
                                <fieldset id="searchField">
                                    
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="note"
                                        placeholder="search by keyword"
                                        value="{{ searchItem.note }}"
                                    >
                                </fieldset>
                            </div>
                            <div class="form-group mx-sm-3 mb-2 col">
                                <input
                                    class="btn btn-success"
                                    type="submit"
                                    value="Find Paradise"
                                >                             
                            </div>  
                            </div>                      
                        </form>  
                    </div>  
        <div>
            <div class="row">
                
                {% for tikiDrink in tikiDrink %}
                    <div class="card" style="width: 18rem;">
                        
                        <h1 class="card-header"  style="text-align:center; height: 4.5rem; overflow: auto; font-size: 2rem; min-width: 5rem;" >{{tikiDrink.name}}</h1>
                        <div class="card-body" style="display: block; text-align: center;">
                            
                            {%- comment -%} <p>Last Updated: {{tikiDrink.lastUpdated}}</p> {%- endcomment -%}
                            

                            {%if tikiDrink.owner%}
                                <h5>Last Updated: </h5>
                                <h3  class="card-text"> {{tikiDrink.lastUpdated}}</h3>

                            {%else%}
                                <h5>Original creator: </h5>
                                <h3 class="card-text"> {{tikiDrink.ogCreator}}</h3>
                            {%endif%}

                            <a class="btn btn-info" href="/tikiDrink/{{tikiDrink.id}}">
                                View
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}